@import "variables"; 

.tittle { 
    display: flex;
    height: 150px;
    align-items: center;
    justify-content: center;
    background-color: $lightgrayishcyan1;
        h1 {
            display: flex;
            flex-direction: column;
            text-transform: uppercase;
            color: $verydarkcyan;
            font-family: $fuente1;
            letter-spacing: 13px;
}
}